.App {
  text-align: center;
}
body{
  background-color: rgb(27, 27, 44);
  /* color: cornsilk; */
}
.col {
  margin: 10px;
}
.row {
  margin: 10px;
  display: inline-flex;
}
/* ---------------------react background image color: skyblue----------*/
.bgimage {
  background-image: url('./logo192.png');
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
/* ------------------------------------------------------------------- */
/* -----------------form containers----------------------------------- */
label {
  color: black;
}
.formcontainer {
  margin: 10px;
  display: inline-block;
  border: solid lightgray;
  border-radius: 12px;
  background-color: lightslategray;
}
.inputcontainer {
  margin: 10px;
  padding:14px 14px 10px 10px;
  text-align: end;
  background-color: lightgray;
  border-radius: 12px;
}
input {
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
input:focus {
  outline: none;
  background-color:rgb(159, 225, 252);
}
/* ------------------------------------------------------------------- */
/* ---------------------Cote Button----------------------------------- */
.btncote {
  padding: 8px 18px;
  border: solid lightgray;
  border-radius: 12px;
  color: lightgray;
  background-color: rgb(59, 59, 85);
}
.btncote:hover {
  border-color: rgb(59, 59, 85);
  background-color: skyblue;
  color: rgb(59, 59, 85);
}
.btncote:focus {
  outline: none;
}
/* --------------------------------------------------------------------- */
/* -----------------output container read only-------------------------- */
.formcontainer2 {
  margin: 10px;
  display: inline-block;
  border: solid lightgray;
  border-radius: 12px;
  background-color: rgb(59, 59, 85);
}
.outputcontainer {
  text-align: center;
  background-color: rgb(159, 225, 252);
  border: solid 4px;
  border-style: inset;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: x-large;
}
/* <-------------------------------------------------------------------- */
/* 
<-------color pallet-------->

        lightgrey
        lightslategrey
        rgb(59, 59, 85)=dark contrast

        skyblue= react original
        (skyliteblue for inputs)=rgb(159, 225, 252);

*/